/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Belleza&family=Libre+Baskerville:wght@700&display=swap')

/*Declare variables*/
:root {
      /*color scheme*/
  --main-bg-babyblue: #E7F2F8;
  --highlight-olive: #498275;
  --highlight-salmon: #FFA384;
  --highlight-mauve: #B99095;

  --highlight-gray: #788b97;
  --link-color:#4183c4;

  /*fonts*/
  --font-title: 'Libre Baskerville', serif;
  --font-body: 'Bellefair', serif;
  --font-h1: 'Belleza', sans-serif;
  --font-code: 'Source Code Pro', monospace;
}



.pagedjs_page:not(:first-of-type) {
  --sidebar-width: 0rem;
  --sidebar-background-color: #ffffff;
  --main-width: calc(var(--content-width) - var(--sidebar-width));
  --decorator-horizontal-margin: 0.2in;
}